html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f5a8;
}
.container_head {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.container_head h1 {
    font-size: 3rem;
    color: #2137b1;
    /* background: #a7c5c0; */
    padding: 10px;
}
.container_head h2 {
    font-size: 1.5rem;
    color: #304ffe;
    background: #41bb4b;
    padding: 10px;
}
/* .color_header {
    background: #2a383b;
} */
.container_head p {
    font-size: 1rem;
    color: #5972fe;
    margin-bottom: 10px;
}
.restartButton {
    color: #fff;
    background-color: #3f97ab;
    font-weight: 700;
    padding: 15px 50px;
    margin: 20px 10px;
    border: 0;
}

.startButton {
    color: #fff;
    background-color: #3f97ab;
    font-weight: 700;
    padding: 15px 50px;
    margin: 20px 10px;
    border: 0;
}
.score {
    text-align: right;

}
.score h4 {
    font-size: 1rem;
    color: #2137b1;
}
.score h1 {
    font-size: 2.5rem;
    color: #243455;
    font-weight: 700;
}

.circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #dd2c00;
    position: relative;
    top: 8rem;
    left: 5rem;
}

.gamearea {
    max-width: 1100px;
    height: 400px;
    margin: 0 auto;
    border: 2px dotted #543234;
}